@keyframes formwidth {
  0% {width: 350px;}
  100% {width: 1000px;}
}

form {
  margin-top: 30px;
}

.input {
  width: 500px;
  background-color: rgba(0,0,0,0);
  color: black;
  border: none;
  border-bottom: 2px solid black;
  font-family: "Basic", sans-serif;
  font-size: 18px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.input:focus,
.textarea:focus {
  outline: none;
  animation-name: formwidth;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.textarea {
  width: 500px;
  height: 150px;
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 2px solid black;
  font-family: "Basic", sans-serif;
  font-size: 18px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.invalid {
  color: red;
  border-bottom: 2px solid red;
}

.send-button {
  width: 80px;
  height: 30px;
  border-radius: 6px;
  background-color: black;
  color: white;
  font-family: "Basic", sans-serif;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  padding-top: 2.5px;
  margin-bottom: 50px;
}

.send-button:hover {
  background-color: grey;
}

h3 {
  font-family: "Basic", sans-serif;
  margin-bottom: 20px;
}

.social {
  width: 200px;
  height: 100px;
  margin: auto;
}

.fab {
  font-size: 40px;
  margin: 5px;
  color: black;
}

.fab:hover {
  color: grey;
}
